@{
}

<h1>Remove Cheese</h1>
<br />

@if (ViewBag.cheeses.Count==0)
{
    <p>There are no cheeses to remove.  Go<a asp-controller="Cheese" asp-action="Add"> add some</a>.</p>
}
else
{
    <form method="post">
        <ul class="list-unstyled">
            @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
            {
                <li>
                    <input type="checkbox" name="selectedCheeses[]" value="@cheese.Key" />
                    <label>@cheese.Key</label>
                </li>
            }
        </ul>
        <input type="submit" value="Remove Cheeses" />
    </form>
}



